*{
    margin: 0;
    padding: 0;
}

.corpPag{
    margin-left: 100px;
    margin-right: 100px;
}


a{
    display: inline-block;
    color:white;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
    margin: 0px 4px;
}

/* Cabecalho */
.cabPai{
    background: rgb(0,38,107);
    background: linear-gradient(128deg, rgba(0,38,107,1) 0%, rgba(68,114,196,1) 40%);  
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding-top: 30px;
    width: 100%;
    height: 60px

}

.menuPai{
    display: flex;
    justify-content: left;
    flex-direction: row;
    width: 100%;
}

.linkMenu{
    padding-left: 20px;
    padding-right: 20px;
    margin:0px;
    
    display: inline-block;
    text-align: center;

}

/* BODY DA PAGINA */
.bodyhome{
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 10px;
    flex-wrap: wrap;
    
}

.feeds{
    padding: 100px;
    margin: 20px;
    border: 1px solid;
    border-radius: 10px;
    align-items: center;
    background-color: rgb(89, 180, 255);
    width: 400px;
    height: 200px;
}

/* DETALHAMENTO */
.teste{
     width: 100px;
     height: 100px;
}
