*{
    margin: 0;
    padding: 0;
}

.corpPag{
    margin-left: 100px;
    margin-right: 100px;
}


a{
    display: inline-block;
    color:white;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
    margin: 0px 4px;
}

/* Cabecalho */
.cabPai{
    background: rgb(0,38,107);
    background: linear-gradient(128deg, rgba(0,38,107,1) 0%, rgba(68,114,196,1) 40%);  
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding-top: 30px;
    width: 100%;
    height: 60px

}

.menuPai{
    display: flex;
    justify-content: left;
    flex-direction: row;
    width: 100%;
}

.linkMenu{
    padding-left: 20px;
    padding-right: 20px;
    margin:0px;
    
    display: inline-block;
    text-align: center;

}

/* BODY DA PAGINA */
.bodyhome{
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 10px;
    flex-wrap: wrap;
    
}

.feeds{
    padding: 100px;
    margin: 20px;
    border: 1px solid;
    border-radius: 10px;
    align-items: center;
    background-color: rgb(89, 180, 255);
    width: 400px;
    height: 200px;
}

/* DETALHAMENTO */
.teste{
     width: 100px;
     height: 100px;
}
.Adm{
    height:25px;
    width:200px;
    background-color: rgb(199, 197, 197);
    align-items: center;
    align-self: center;
    text-align: center;
    border-color:  rgb(89, 180, 255);
    margin:0px;
    margin-top:20px;
    padding: 10px;
    border-radius: 10px;
}
.box-conteiner-log{
    border-radius: 10px;
    box-shadow: 9px 8px 20px rgba(0, 0, 0, 0.247);
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    border: 3px solid;
    background-color: rgb(233, 233, 233);
    border-color:  rgb(0, 59, 160);    
    margin:100px;
    margin-left:auto;
    margin-right:auto ;
    padding:10px;
    width:400px;
    height:400px;
    box-sizing: border-box;
    
}

.paddinglog{
    padding: 40px;
}

.background-Log{
    background: linear-gradient(15deg, rgba(0,38,107,1) 2%, rgb(56, 100, 177) 40%);
    width: 100%;
    height: 100%;
    display: flex;
    position: absolute;
}